extends ../layout
include ../../node_modules/jade-bootstrap/components/forms


block content
  .page-header
    h3 Sign up
    hr
  form.form-horizontal(id='signup-form', method='POST')
    #error
      if error
          p.text-danger Error!!!
    div.mb-4
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row.justify-content-md-center
        label.col-sm-2.col-form-label.text-right.font-weight-bold(for='email' class="form-label") Email
        .col-sm-4
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    div.mb-4
      .form-group.row.justify-content-md-center
        label.col-sm-2.col-form-label.text-right.font-weight-bold(for='password') Password
        .col-sm-4
          input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    div.mb-4
      .form-group.row.justify-content-md-center
        label.col-sm-2.col-form-label.text-right.font-weight-bold(for='confirmPassword') Confirm Password
        .col-sm-4
          input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    div.mb-4
      .form-group.row.justify-content-md-center
        .offset-sm-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-user-pluss
            | Signup
