footer
  .container.text-center
    p.pull-left © 2023 <a href="http://ultimasolution.pl"> ultimasolution.pl Company, Inc. All Rights Reserved
    a.github-button.float-right(href="https://github.com/karol-preiskorn/3d-inventory-mongo-api", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star
