# 3d-inventory configuration

# Mode
ENV=your-env

# Mongo
REALM_CLI_PUBLIC_KEY=your-realm_cli_public_key
REALM_CLI_PRIVATE_KEY=your-realm_cli_private_key
API_KEY_NAME=your-api_key_name
API_KEY=your-api_key
SECRET_KEY=your-secret_key
CONNECT_STRING=your-connect_string
USERNAME=your-username
PASSWORD=your-password
CLUSTERURI=your-clusteruri
DBNAME=your-dbname
COLLECTIONNAME=your-collectionname

# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=your-mongodb_uri

# This is standard running mongodb locally
MONGODB_URI_LOCAL=your-mongodb_uri_local

# Put lots of randomness in these
SESSION_SECRET=your-session_secret

# Facebook keys - register your app and get yours here: https://developers.facebook.com/
FACEBOOK_ID=your-facebook_id
FACEBOOK_SECRET=your-facebook_secret

# SendGrid Login - create an account with SendGrid here: https://signup.sendgrid.com/
SENDGRID_USER=your-sendgrid_user
SENDGRID_PASSWORD=your-sendgrid_password

# Application Port - express server listens on this port (default 3000).
PORT=your-port

MONGO_ENV=your-mongo_env

# REALM
ATLAS_SERVICES_CLI_PUBLIC_KEY=your-atlas_services_cli_public_key
ATLAS_SERVICES_CLI_PRIVATE_KEY=your-atlas_services_cli_private_key
ATLAS_SERVICES_CLI_AUTH=your-atlas_services_cli_auth
