NODE_ENV=your-node_env
HOST="your-host"
PORT=your-port
ATLAS_URI=your-atlas_uri
DBNAME="your-dbname"
MONGO_OPTIONS="your-mongo_options" # Optional
# Replace with your locally defined secrets for basic proxy auth
JWT_SECRET="your-jwt_secret" #
# Project variables
RATE_LIMIT_WINDOW_MS=your-rate_limit_window_ms # 15 minutes in milliseconds
RATE_LIMIT_MAX=your-rate_limit_max # Maximum requests per window
RATE_LIMIT_MESSAGE="your-rate_limit_message"
# yaml
API_YAML_FILE="your-api_yaml_file"
USE_EMOJI=your-use_emoji
CORS_ORIGINS="your-cors_origins"
COOKIE_EXPIRESIN="your-cookie_expiresin"
# GitHub Configuration (optional)
GH_AUTH_TOKEN=your-gh_auth_token
GH_USERNAME=your-gh_username
GH_REPO=your-gh_repo
GH_REPO_URL=your-gh_repo_url
GHCR_PAT=your-ghcr_pat
