{
  "parser": "esprima",
  "extends": [
    "plugin:import/recommended",
    "standard",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "double"
    ]
  },
  "env": {
    "es2020": true,
    "jest": true,
    "jest/globals": true,
    "mocha": true,
    "mongo": true,
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "tests/**"
      ],
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ]
      // "rules": {
      //   "jest/prefer-expect-assertions": "off"
      // }
      ,
      "env": {
        "mocha": true,
        "node": true
      }
    }
  ],
  "plugins": [
    "jest"
  ]
}