{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "standard",
    "plugin:jest/recommended",
    "plugin:jest/all",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn"
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "mongo": true,
    "jest/globals": true,
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "tests/**"
      ],
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ],
      "rules": {
        "jest/prefer-expect-assertions": "off"
      }
    }
  ],
  "plugins": [
    "jest"
  ]
}
