
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.92ed10cc980e98503850e47148b86420cc328706-audit.json
# .env
.vscode/*
.vscode/branch-timer.json
build
coverage
dist
doc
docs
gcs/d-inventory-406007-7f3cc8e7a8f3.json
gcs/d-inventory-406007-b220e292572a.json
gcs/d-inventory-406007-f0b2acc85b03.json
jsdocs
lib
logs
node_modules
settings.json
